body{
    padding:15px;
    background-color: rgb(80, 82, 247);
}
#top{
    color:blue;
    font-family: 'Rouge Script', cursive; 
    font-size: 40px; 
    font-weight: normal; 
    line-height: 48px; 
    /* margin: 0 0 50px;  */
    text-shadow: 1px 1px 2px rgb(251, 255, 35);
    text-align: center; 
    border: 2px solid white;
    border-radius: 5px;
    background:white;
}
#searching{
    font-size: 40px; 
    text-align: center; 
    border: 2px solid white;
    border-radius: 5px;
    background:white;

}
#info{
    font-size: 30px; 
    text-align: center; 
    
}
#result{
    font-size: 30px;
    text-align: center;
    border: 2px solid white;
    border-radius: 5px;
    background:white;
}